#Linea de espera

El programa simula una linea de espera con tiempos de llegada que siguen una distribuci√≥n general y tambien distribuciones de tiempos de servicio generales, con un solo servidor.

$$G/G/1$$

In [19]:
from random import random
from random import expovariate as expo
from random import triangular
import numpy as np
import pandas as pd

def lineaE(n):
	t0 = 0
	s = 0 # total de clientes en la fila
	k = 0 # indice
	datos = np.zeros( (n,9) )
	encabezados = [
'cliente',
'tiempo de interllegada',
'tiempo de llegada',
'fila',
'inicio del servicio',
'tiempo de servicio',
'fin del servicio',
'tiempo en el sistema',
'tiempo promedio en el sistema']
	for i in range(n):
		# numero de cliente
		datos[i][0] = i + 1

		# tiempo entre llegadas
		t = expo(1/15) # distribucion de llegadas
		datos[i][1] = t

		# tiempo de llegada
		if i == 0:
			t0 = t
			datos[i][2] = t0
		else:
			t0 += t
			datos[i][2] = t0

		# fila
		if i == 0:
			datos[i][3] = s
		elif t0 < datos[k][6]:
			s += 1
			datos[i][3] = s
		elif t0 > datos[k][6]:
			w = datos[k:i,6][(datos[k:i,6] < datos[i][2])].size
			s = datos[k:i,6].size - w
			k += w # se actualiza el indice
			datos[i][3] = s

		# inicio del servicio
		if i==0:
			datos[i][4] = t
		else:
			datos[i][4] = max( datos[i-1][6] , t0 )

		# distribucion del tiempo de servicio
		u = expo(1/8)
		datos[i][5] = u

		# fin del servicio
		datos[i][6] = datos[i][4] + u

		# tiempo en el sistema
		datos[i][7] = datos[i][6] - t0

		# tiempo promedio en el sistema
		if i == 0:
			datos[i][8] = datos[i][6]
		else:
			datos[i][8] = datos[0:i,7].mean()
	return pd.DataFrame( np.round(datos,2) , columns = encabezados).astype({'cliente':np.int32,
'tiempo de interllegada':np.float32,
'tiempo de llegada':np.float32,
'fila':np.int32,
'inicio del servicio':np.float32,
'tiempo de servicio':np.float32,
'fin del servicio':np.float32,
'tiempo en el sistema':np.float32,
'tiempo promedio en el sistema':np.float32})

simu = lineaE(60).style.hide( axis = "index" ).format( precision = 2 )
simu

In [20]:
k = 100000
simu2 = lineaE(k)
print("Clientes promedio en la fila:",simu2['fila'].mean())
print("Probabilidad de cero clientes en la fila:", simu2["fila"][(simu2["fila"]==0)].size/k)
print("Tiempo promedio en el sistema:",simu2['tiempo en el sistema'].mean())

Clientes promedio en la fila: 1.14054
Probabilidad de cero clientes en la fila: 0.46965
Tiempo promedio en el sistema: 17.145273