#Linea de espera

$$G/G/1$$

In [69]:
from random import random
from random import expovariate as expo
from random import triangular
import numpy as np
import pandas as pd

class Contar:
	def __init__(self,cota):
		self.cota = cota
	def c(self,x):
		if x < self.cota:
			return x

def lineaE(n):
	t0 = 0
	s = 0 # total de clientes en la fila
	k = 0 # indice
	datos = np.zeros( (n,8) )
	encabezados = ['cliente',
	               'tiempo de interllegada',
									'tiempo de llegada',
									'fila',
									'inicio del servicio',
									'tiempo de servicio',
									'fin del servicio','tiempo en el sistema']
	for i in range(n):
		# numero de cliente
		datos[i][0] = i + 1

		# tiempo entre llegadas
		t = expo(1/15) # distribucion de llegadas
		datos[i][1] = t

		# tiempo de llegada
		if i == 0:
			t0 = t
			datos[i][2] = t0
		else:
			t0 += t
			datos[i][2] = t0

		# fila
		if i == 0:
			datos[i][3] = s
		elif t0 < datos[k][6]:
			s += 1
			datos[i][3] = s
		elif t0 > datos[k][6]:
			w = len( list( filter( Contar( datos[i][2] ).c , datos[k:i,6] )))
			s = len( datos[k:i,6] ) - w
			k += w # se actualiza el indice
			datos[i][3] = s

		# inicio del servicio
		if i==0:
			datos[i][4] = t
		else:
			datos[i][4] = max( datos[i-1][6] , t0 )

		# distribucion del tiempo de servicio
		u = expo(1/8)
		datos[i][5] = u

		# fin del servicio
		datos[i][6] = datos[i][4] + u

		# tiempo en el sistema
		datos[i][7] = datos[i][6] - t0
	return pd.DataFrame( np.round(datos,2) , columns = encabezados,dtype=float).astype({'cliente':np.int32,
'tiempo de interllegada':np.float32,
'tiempo de llegada':np.float32,
'fila':np.int32,
'inicio del servicio':np.float32,
'tiempo de servicio':np.float32,
'fin del servicio':np.float32,
'tiempo en el sistema':np.float32})

simu = lineaE(60).style.hide( axis = "index" ).format( precision = 2 )
simu

In [70]:
k = 10000
simu2 = lineaE(k)
print("Clientes promedio en la fila: ",simu2['fila'].mean())
print("Probabilidad de cero clientes en el sistema:",list( simu2["fila"] ).count(0)/k)

Clientes promedio en la fila:  1.0727
Probabilidad de cero clientes en el sistema: 0.4728